In [3]:
#Question 1
def find_common_elements(arr1, arr2, arr3):
    pt1, pt2, pt3 = 0, 0, 0
    result = []
    
    while pt1 < len(arr1) and pt2 < len(arr2) and pt3 < len(arr3):
        if arr1[pt1] == arr2[pt2] == arr3[pt3]:
            result.append(arr1[pt1])
            pt1 += 1
            pt2 += 1
            pt3 += 1
        elif arr1[pt1] < arr2[pt2]:
            pt1 += 1
        elif arr2[pt2] < arr3[pt3]:
            pt2 += 1
        else:
            pt3 += 1
    
    return result

In [4]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

output = find_common_elements(arr1, arr2, arr3)
print(output)

[1, 5]

In [5]:
#Question 2
def find_disjoint(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)
    
    diff1 = list(set1 - set2)
    diff2 = list(set2 - set1)
    
    result = [diff1, diff2]
    return result

In [6]:
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

output = find_disjoint(nums1, nums2)
print(output)

[[1, 3], [4, 6]]

In [12]:
#Question 3
def transpose(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    
    transposed_matrix = [[] for _ in range(columns)]
    
    for column in range(columns):
        for row in range(rows):
            transposed_matrix[column].append(matrix[row][column])
    
    return transposed_matrix

    matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

output = transpose(matrix)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
#Question 4
def array_pair_sum(nums):
    nums.sort()
    max_sum = 0
    
    for i in range(0, len(nums), 2):
        max_sum += min(nums[i], nums[i+1])
    
    return max_sum

In [14]:
nums = [1, 4, 3, 2]

output = array_pair_sum(nums)
print(output)

4

In [15]:
#Question 5
def arrange_coins(n):
    k = 0
    
    while (k * (k + 1)) // 2 <= n:
        k += 1
    
    return k - 1
n = 5

output = arrange_coins(n)
print(output)

2

In [16]:
#Question 6
def sorted_squares(nums):
    result = []
    
    for num in nums:
        result.append(num ** 2)
    
    result.sort()
    
    return result
nums = [-4, -1, 0, 3, 10]

output = sorted_squares(nums)
print(output)

[0, 1, 9, 16, 100]

In [17]:
#Question 7
def max_count(m, n, ops):
    min_row = float('inf')
    min_col = float('inf')
    
    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])
    
    return min_row * min_col

In [18]:
m = 3
n = 3
ops = [[2, 2], [3, 3]]

output = max_count(m, n, ops)
print(output)

4

In [19]:
#Question 8
def rearrange_array(nums):
    n = len(nums) // 2
    result = []
    
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i + n])
    
    return result

In [20]:
nums = [2, 5, 1, 3, 4, 7]

output = rearrange_array(nums)
print(output)

[2, 3, 5, 4, 1, 7]